.bg-color {
    background-image: linear-gradient(to bottom, #ffe7bf, #ffd6ae, #ffc4a1, #ffb299, #ff9f97, #f88e8e, #f07c87, #e86a82, #d7556e, #c53f5a, #b32747, #a10035);
    min-height: 800px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.navbar {
    background-color: transparent !important;
    padding: 0;
    margin: 0;
    position: absolute;
    height: 100px;
}

.img-logo {
    height: 80px;
    width: 300px;
    /* padding-top: 0px; */
    padding-left: 50px;
}

#home-page {
    margin-left: 30px;
    padding-top: 20px;
    padding-left: 30px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    font-weight: 100px;
}

#about-us-page {
    margin-left: 20px;
    padding-top: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    font-weight: 100px;
}

#share-page {
    padding-top: 45px;
    margin-left: 400px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    font-weight: 100px;
}

.fa-brands,
.fa-solid {
    height: 40%;
    width: 15px;
    padding-top: 2px;
    margin-left: 15px;
    margin-right: 5px;
    margin-bottom: 50px;
    margin-top: 3px;
    display: inline-flex;

}

.btn-icon {
    border: none;
    color: white;
    background-color: #1877f2;
    border-radius: 15px;
    margin-top: 45px;
    margin-left: 10px;
    height: 25%;
    display: inline-flex;
}

span {
    margin-right: 10px;
    margin-bottom: 15px;
    margin-top: 2px;
    font-family: 'Source Sans Pro', sans-serif;
}

.btn-icon:hover {
    background-color: #1d9bf0;
}

.box {
    margin-top: 30px;
    display: flex;
    padding-top: 100px;
}

.div-img {
    height: 1000px;
    width: 1000px;
    margin-top: 30px;
    
}

.div-h1 {
    color: #1e3264;
    font-weight: bolder;
    font-family: 'Poppins', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    align-items: center;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 150px;
    font-size: 50px;
}
.div-content{
    color: #1e3264;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    align-items: center;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 30px;
}

.form-control{
    margin-top: 30px;
    margin-left: 150px;
    background: #172751;
    border: none;
    width: 1000px;
}

.btn{
    margin-top: 30px;
    margin-right: 150px;
    background: #5c22ff;
    border: none;
    height: 45px;
    color: white;
}
.btn:hover{
    background: #0033ff;
}

/* .div-h2{
    color: #1e3264;
    font-weight: bolder;
    font-family: 'Poppins', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    align-items: center;
    margin-left: 150px;
   margin-top: 0;
   padding-top: 0;
    font-size: 50px;
}
.div.content{
    color: #1e3264;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    align-items: center;
    margin-left: 150px;
    margin-top: 30px;
} */
