.bg-color {
    background-image: linear-gradient(to bottom, #ffe7bf, #ffd6ae, #ffc4a1, #ffb299, #ff9f97, #f88e8e, #f07c87, #e86a82, #d7556e, #c53f5a, #b32747, #a10035);
    min-height: 800px;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    position: relative;
}

.navbar {
    background-color: transparent !important;
    padding: 0;
    margin: 0;
    height: 100px;
}

.img-logo {
    height: 80px;
    width: 300px;
    padding-left: 50px;
}

#home-page {
    margin-left: 30px;
    padding-top: 20px;
    padding-left: 30px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    font-weight: 100px;
}

#about-us-page {
    margin-left: 20px;
    padding-top: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    font-weight: 100px;
}

#share-page {
    padding-top: 45px;
    margin-left: 400px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    font-weight: 100px;
}

.fa-brands,
.fa-solid {
    height: 40%;
    width: 15px;
    padding-top: 2px;
    margin-left: 15px;
    margin-right: 5px;
    margin-bottom: 50px;
    margin-top: 3px;
    display: inline-flex;

}

.btn-icon {
    border: none;
    color: white;
    background-color: #1877f2;
    border-radius: 15px;
    margin-top: 45px;
    margin-left: 10px;
    height: 25%;
    display: inline-flex;
}

span {
    margin-right: 10px;
    margin-bottom: 15px;
    margin-top: 2px;
    font-family: 'Source Sans Pro', sans-serif;
}

.btn-icon:hover {
    background-color: #1d9bf0;
}

.box1 {
    margin-top: 0px;
    display: flex;
    padding-top: 0px;
}

.div-img {
    height: 1000px;
    width: 1000px;
    margin-top: 30px;

}

.div-h1 {
    color: #1e3264;
    font-weight: bolder;
    font-family: 'Poppins', sans-serif;
    align-items: center;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 100px;
    font-size: 50px;
}

.div-content {
    color: #1e3264;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;

    align-items: center;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 30px;
}

.form-control {
    margin-top: 30px;
    margin-left: 150px;
    background: #172751;
    border: none;
    width: 1000px;
}

.btn {
    margin-top: 30px;
    margin-right: 150px;
    background: #5c22ff;
    border: none;
    height: 45px;
    color: white;
}

.btn:hover {
    background: #0033ff;
}

.box2 {
    margin: 0;
    padding: 0;
    display: flex;
}

.div-h2 {
    margin: 0;
    padding: 0;
    color: #1e3264;
    font-weight: bolder;
    font-family: 'Poppins', sans-serif;

    text-align: ltr;
    margin-left: 150px;
    font-size: 50px;

}

.content {
    color: #1e3264;
    font-family: 'Poppins', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: ltr;
    margin-left: 150px;
    margin-top: 30px;
    font-size: 18px;
}

.Tool-img {
    margin: 0;
    padding: 0;
    margin-left: 150px;
    margin-right: 150px;
    filter: drop-shadow(20px 20px 1px #2868ed);
    filter: drop-shadow(20px 20px 1px #1e3264);
}


.heading {
    padding: 30px;
    font-size: 10px;
    font-family: 'Nunito', sans-serif;
    color: #1e3264;
    text-align: center;
    margin-top: 100px;
}

.box3 {
    margin: 0;
    padding: 0;
    display: flex;
}

.para1 {
    font-size: 35px;
    margin-top: 50px;
    text-align: ltr;
    color: #1e3264;
    margin-left: 200px;
    font-family: 'Dancing Script', cursive;
}

.para2 {
    font-size: 35px;
    margin-top: 50px;
    text-align: ltr;
  color: #1e3264;
    margin-left: 50px;
    margin-right: 150px;
    font-family: 'Dancing Script', cursive;
}

.box4 {
    margin: 0;
    padding: 0;
    display: flex;
}

.box5 {
    margin: 0;
    padding: 0;
    display: flex;
}

.mike-img {
    margin-top: 50px;
    margin-left: 200px;
    height: 100px;
}

.jane-img {
    margin-top: 50px;
    margin-left: 80px;
    height: 100px;
    margin-right: 0px;
}

.Mike {
    margin-top: 70px;
    font-size: 18px;
    text-align: ltr;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 10px;
    font-weight: bold;
    color: #1e3264;
    margin-right: 0px;
}

.Mikep {
    margin-top: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    margin-left: 10px;
    color: #1e3264;
}

.Jane {
    margin-top: 70px;
    font-size: 18px;
    text-align: ltr;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-right: 200px;
    margin-left: 2px;
    font-weight: bold;
    color: #1e3264;
}

.Janep {
    margin-top: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 5px;
    font-size: 18px;
    color: #1e3264;
}

.box6 {
    margin: 0;
    padding: 0;
    display: flex;
}

.last-img {
    margin-top: 150px;
    margin-left: 150px;
}

.h2-last {
    margin-top: 180px;
    text-align: ltr;
    color: #1e3264;
    font-size: 40px;
}

.p-last {
    margin-top: 30px;
    text-align: ltr;
    color: #1e3264;
    font-size: 16px;
    margin-right: 200px;
}

.box7 {
    margin: 20px;
    padding: 0;
    display: flex;
}

.box7 {
    margin: 20px;
    padding: 0;
    display: flex;
}

.box8 {
    margin: 0;
    padding: 0;
    display: flex;
}

.last2-img {
    margin-top: 50px;
    height: 40px;
    margin-left: 150px;
    margin-right: 0;
    
}

.icon-cpy {
    height: 20px;
    margin-left: 40px;
    margin-top: 60px;
   color:  #112A46;
}

.last2-p {
    margin-top: 58px;
    margin-left: 10px;
    font-size: 14px;
    text-align: ltr;
    font-family: 'Poppins', sans-serif;
    color:  #112A46;
}

.box9 {
    margin: 0;
    padding: 0;
    display: flex;
}

.last--p {
    margin-left: 450px;
    margin-right: 0;
    color:  #112A46;
    margin-top: 60px;
}

.last--img {
    margin-left: 0;
    margin-top: 65px;
}